.gitattributes export-ignore
.gitignore export-ignore
Makefile export-ignore
phpunit.xml export-ignore
grumphp.yml export-ignore
comments_density.php export-ignore
bootstrap.php export-ignore
phpstan.neon export-ignore
benchmark export-ignore
rector.php export-ignore
