parameters:
	paths:
		- src
		- bin
	level: 6
	parallel:
		maximumNumberOfProcesses: 1

	ignoreErrors:
		- message: "#Constant COMMENTS_DENSITY_ENVIRONMENT not found.#"
		  paths:
		  - src/AnalyzeComments/Config/ConfigLoader.php
